.boldFont {
  font-weight: 700;
}
.H1 {
  font-size: 40px;
  line-height: 40px;
}
.boldH1 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
}
.H2 {
  font-size: 32px;
  line-height: 40px;
}
.boldH2 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}
.H3 {
  font-size: 24px;
  line-height: 32px;
}
.boldH3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
.bodyLarge {
  font-size: 18px;
  line-height: 24px;
}
.bodyLargeBold {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
.bodyMedium {
  font-size: 16px;
  line-height: 20px;
}
.bodySmall {
  font-size: 14px;
  line-height: 16px;
}
.bodySmallBold {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}
.bodySmallSocial {
  font-size: 12px;
  line-height: 16px;
}
.bodySmallLegal {
  font-size: 12px;
  line-height: 16px;
}
.labelLarge {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}
.labelSmall {
  font-size: 12px;
  line-height: 16px;
}
.statLarge {
  font-size: 120px;
  line-height: 1;
}
.footerSmall {
  font-size: 9px;
  line-height: 1;
  font-family: Arial, sans-serif;
}
.cta-container {
  padding: 0 0 0 0;
}
.cta-container .cta-primary {
  background: #00A7FF;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  color: #ffffff;
}
.cta-container .cta-primary a {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  line-height: 1;
  display: block;
  text-decoration: none;
  color: #ffffff;
}
.cta-container .cta-secondary {
  background: transparent;
  padding: 13px 38px;
  color: #00A7FF;
  border: 2px solid #00A7FF;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
.cta-container .cta-secondary a {
  color: #00A7FF;
  line-height: 1;
  display: block;
  text-decoration: none;
}
.cta-container .cta-tertiary,
.cta-container .cta-chevron {
  color: #007ABA;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding: 0 0 0 4px;
}
.cta-container .cta-tertiary a,
.cta-container .cta-chevron a {
  text-decoration: none;
  color: #00A7FF;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
.cta-container .cta-chevron {
  padding-top: 1px;
}
