@media (max-width: 699px) {
  body {
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
  }
  .fluid {
    width: 100% !important;
  }
  .hide {
    display: none !important;
  }
  .body-wrapper img,
  .hero-container img {
    max-width: 100% !important;
    height: auto !important;
  }
  .header-links {
    padding-right: 5px !important;
  }
}
@media (max-width: 649px) {
  .header-wrapper {
    padding: 16px 20px 16px 50px !important;
  }
  .body-wrapper .inner-padding {
    padding: 40px !important;
  }
  .inner-callout-padding {
    background: #eeeeee !important;
    padding: 0 40px !important;
  }
  .footer-container {
    padding: 48px 50px !important;
  }
  .footer-container .boilerplate {
    text-align: center !important;
  }
  .footer-container th {
    display: block !important;
  }
  .footer-container .footer-spacer {
    display: none !important;
  }
  .footer-container .footer-logo {
    padding: 30px 0 0 0 !important;
  }
  .footer-container .footer-logo table {
    width: 100% !important;
    text-align: center !important;
  }
  .footer-container .footer-logo table img {
    margin: auto !important;
  }
  .footer-container .footer-social {
    padding: 30px 0 !important;
  }
  .footer-container .footer-social table {
    margin: auto !important;
  }
  .footer-container .footer-links table {
    margin: auto !important;
  }
  .footer-container .copyright {
    text-align: center !important;
  }
}
@media (max-width: 599px) {
  .callout-container th {
    display: block !important;
  }
  .callout-container th.asset-img {
    padding-bottom: 0 !important;
    width: 100% !important;
  }
  .callout-container th.asset-img img {
    margin: auto !important;
  }
}
@media (max-width: 449px) {
  .header-wrapper {
    padding: 16px 20px 16px 20px !important;
  }
  .hero-padding {
    padding: 0 !important;
  }
  .body-wrapper .inner-padding,
  .body-wrapper .inner-padding-grey,
  .body-wrapper .inner-callout-padding {
    padding: 40px 20px 40px 20px !important;
  }
  .callout-container,
  .sig-container {
    padding: 0 !important;
  }
  .footer-container {
    padding: 48px 20px !important;
  }
}
